<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
         <div class="imgpremier"></div>
         <div class="contentBox">
            <h2>Connectez-vous</h2>
            <form action="#">
                <div class="inputBx">
                    <span>Email</span>
                    <input type="text">
                </div>
                <div class="inputBx">
                    <span>Mot de passe</span>
                    <input type="mot de passe">
                </div>
                <div class="remenber">
                    <label><input type="checkbox">souvient toi</label>
                </div>
                <div class="inputBx">
                    <span>Mot de passe</span>
                    <input type="submit" value="log in">
                </div>
                <div class="inputBx">
                   <p>pas de compte? <a href="#">inscrit-toi</a></p>
                </div>
            </form>
         </div>
    </section>
</body>
</html>