<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/inscription.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>Inscrivez-Vous</h1>
        <form action="#">
            <input type="text" placeholder="Prénom">
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Mot de passe">
            <input type="text" placeholder="confirmé mot de passe">
        </form>
        <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">J'accepte toute les condition d'utilisation</label>
        </div>
        <button>S'inscrire</button>
        <div class="member">
            already a menber? <a href="{{url_for('static', filename='html/connexion.html')}}"></a>
        </div>
    </div>
</body>
</html>