*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


body{
    background: rgb(186, 230, 241);
}

.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color:  rgb(184, 228, 245);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(77, 81, 82, 0.908);
}

h1{
    font-size: 2rem;
    color: rgb(5, 55, 28);
    margin-bottom: 1rem;
}
form input{
    width: 30%;
    outline: none;
    border: 1px solid rgb(235, 230, 230);
    padding: 12px 20px;
    margin-bottom: 1Opx;
    border-radius: 20px;
    background: rgb(242, 248, 245);

}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 30%;
    color: aliceblue;
    cursor: pointer;
    background: rgb(17, 107, 143);
}

button:hover{
    background:  rgb(17, 107, 143, 0.877);
}


input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(0, 115, 255);
    text-decoration: none;
}
.number{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: aqua;
}

.number a{
    color: blue;
    text-decoration: none;
}

.retour{
    width: 150px;
}
.retour button{
    margin-left: 600px;
    box-shadow: 0 20px 35px rgba(189, 230, 247, 0.908);


}

.container{
    margin-left: 35%;
    margin-top: 15%;
}




